.gform_wrapper {
  @extend .cf;
  float: left;
  width: 45%;
  min-width: 400px;
  max-width: 500px;
  @include breakpoint(lizard) {
    min-width: 0;
    float: none;
    width: 100%;
  }
}

.gform_body {

}

.gform_fields {
  margin: 20px 0 0;
  padding: 0;
}

.gfield {
  position: relative;
  margin: 0 0 $baselineheight;

  .gfield_label {
    @include inline-block;
    margin-bottom: 3px;
  }
  .gfield_required {
    display: none;
  }
}

.gfield_checkbox,
.gfield_radio {
  margin: 5px 0;
  padding: 0 0 0 10px;

  li {
    margin: 0 0 5px;
  }
  label {
    margin: 0 0 0 4px;
  }

}

.ginput_complex {
  @extend .cf;
  .ginput_left {
    margin-right: 4%;
  }
  .ginput_right,
  .ginput_left {
    display: block;
    float: left;
    width: 48%;
    position: relative;

    @include breakpoint(lizard) {
      float: none;
      width: 100%;
      margin: 0 0 10px;
    }

    input,
    label {
      display: block;
    }
    label {
      margin-top: 2px;
      color: $c6;
    }
  }
}



.gform_footer {

}




.protected-post-form {

  p {
    width: 300px;
  }
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=search],
input[type=url],
textarea {
  padding: 5px 10px;
  background: #f9f9f9;
  background: rgba(255,255,255,0.7);
  color: $c9;
  border: none;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.35);
  box-shadow: 0 0 3px rgba(0,0,0,0.35);

  //@include breakpoint(lizard) {
    width: 100%;
  //}

  .no-boxshadow & {
    border: 1px solid #bbb;
  }

  &:focus {
    background: #fff;
    color: $c3;
    outline: none;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
    box-shadow: 0 0 4px rgba(0,0,0,0.5);

    .no-boxshadow & {
      border: 1px solid #888;
    }
  }

}
