.foxyshop_product_list {
	padding: 5px 0 0;

	@include breakpoint(hyena) {
		float: left;
		width: 70%;
	}
}

.foxyshop_product_box {
	margin: 0 0 $baselineheight*2;
	padding: 10px;
	background: rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);

}

.foxyshop_product_info {

	.product_title {
		a {
			text-decoration: none;
		}
	}
}


/* PROJECTS */
.item {
  width: 21.8%;
  height: auto;
  margin: 0 1.5% $baselineheight;
  float: left;
  overflow: hidden;
  position: relative;
  text-decoration:none;

  @include breakpoint(hippo) {
  	width: 30.1%;
  }
  @include breakpoint(zebra) {
  	width: 46.8%;
  }
  @include breakpoint(hyena) {
  	width: 98.6%;
  }
//  @include breakpoint(meerkat) {
//    width: 46.8%;
//  }
  @include breakpoint(snail) {
    width: 96.8%;
  }
  
}





.filters {
	position: relative;;
	margin: $baselineheight 0;
	padding: 0;
	font-size: 0;

	@include breakpoint(hyena) {
		float: left;
		width: 30%;
		padding-right: 12px;
	}

	li {
		list-style: none;
		@include inline-block;
		padding: 0 2px;
		margin: 0 0 $baselineheight;
		font-size: 13px;
		border-bottom: 1px solid #444;
		border-bottom-color: rgba(0,0,0,0.3);
		position: relative;

		-webkit-box-shadow: rgba(255, 255, 255, .7) 0 1px 0;
		box-shadow: rgba(255, 255, 255, .7) 0 1px 0;

		@include breakpoint(hyena) {
			border-bottom: none;
			border-left: 1px solid #444;
			border-left-color: rgba(0,0,0,0.3);

			-webkit-box-shadow: rgba(255, 255, 255, .7) 1px 0 0;
			box-shadow: rgba(255, 255, 255, .7) 1px 0 0;
		}
	}


	a {
		text-decoration: none;
		padding: 3px 5px;
		display: block;
		color: $c5;
	}
	.active {

		&:after,
		&:before { // I'm in the middle and should match box shadow
			content: "\00a0";
			border-color: transparent transparent;
			height: 0;
			width: 0;
			position: absolute;
			border-style: solid;
			border-bottom-color: #444;//rgba(255, 255, 255, .7);
			border-width: 0 6px 6px;
			z-index: 3;
			bottom: -1px;
			left: 50%;
			margin-left: -6px;
			
			@include breakpoint(hyena) {

			}
		}
		&:after { // I'm on top and should be same as bg
			content: "\00a0";
			border-color: transparent transparent;
			height: 0;
			width: 0;
			position: absolute;
			border-style: solid;
			border-bottom-color: #fff;//rgba(255, 255, 255, .7);
			border-width: 0 6px 6px;
			z-index: 3;
			bottom: -2px;
			left: 50%;
			margin-left: -6px;

			@include breakpoint(hyena) {
				
			}
		}

		a {
			color: $heading;
			position: relative;

			&:before { // I'm at the bottom so should be darkest (red)
				content: "\00a0";
				border-color: transparent transparent;
				height: 0;
				width: 0;
				position: absolute;
				border-style: solid;
				border-bottom-color: rgba(255,255,255,0.7);
				border-width: 0 6px 6px;
				z-index: 3;
				bottom: 0;
				left: 50%;
				margin-left: -6px;

				@include breakpoint(hyena) {
				
				}
			}
		}
	}
}














/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}