.foxyshop_product_list {
	padding: 0;
}

.foxyshop_product_box {
	margin: 0 0 $baselineheight*2;
	padding: 10px;
	background: rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);

}

.foxyshop_product_info {

	.product_title {
		a {
			text-decoration: none;
		}
	}
}


/* PROJECTS */
.item {
  width: 21.8%;
  height: auto;
  margin: 0 1.5% .75em;
  float: left;
  overflow: hidden;
  position: relative;
  text-decoration:none;

  @include breakpoint(hippo) {
  	width: 30.1%;
  }
  @include breakpoint(zebra) {
  	width: 46.8%;
  }
  @include breakpoint(meerkat) {
    width: 46.8%;
  }
  @include breakpoint(snail) {
    width: 96.8%;
  }
  
}

















/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}