.foxyshop_product_list {
	padding: 0;
}

.foxyshop_product_box {
	margin: 0 0 $baselineheight*2;
	padding: 10px;
	background: rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);


	h2 a {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

}

.foxyshop_product_info {

	.product_title {
		a {
			text-decoration: none;
		}
	}
}


/* PROJECTS */
.item {
  width: 23.5%;
  height: auto;
  margin: 0 .75% .75em;
  float: left;
  overflow: hidden;
  position: relative;
  text-decoration:none;

  @include breakpoint(zebra) {
  	width: 31.8%;
  }
  @include breakpoint(meerkat) {
    width: 48.5%;
  }
  @include breakpoint(snail) {
    width: 98.5%;
  }
  
}


