*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
//  @include transform(translateZ(0));
}
body {
  font-size: 14px;
  line-height: $baselineheight;
}

a {
  color: $heading;
}


#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-wrap {
  position: relative;
  text-align: center;
  height:100%;

  &.content_toggle {
    position: static;
    text-align:left;
    &:before {
      display:none;
    }
    .centered {
      width: 50px;
      height: 50px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 25px;
      left: 25px;
      text-indent:50px;
      white-space:nowrap;
    }
  }

  .home &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  .centered {
    @include transition(all .3s ease);
    @include sans-serif();
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 75%;
    max-width: 1350px;
    font-weight: 300;
    -webkit-box-shadow: 0 0 3px rgba(black, 0.35);
    box-shadow: 0 0 3px rgba(black, 0.35);
    padding: 50px 50px 0;
    background: rgba(white, .8);


    .no-rgba & {
      background: url(../i/fff_80.png) repeat 0 0 transparent;
    }
    .no-boxshadow & {
      border: 1px solid #ababab;
    }



    .home & {
      max-width: 550px;
      padding-top: 30px;
    }

    body:hover & {
    //  @include opacity(1);
      @include transition(all .3s ease);
    }
    
    @include breakpoint(hyena) {
      padding-top: 90px;
    }
    @include breakpoint(meerkat) {
    //  @include opacity(1);
      width: 82%;
      padding: 90px 30px 30px;
    };

    @include breakpoint(lizard) {
      width: 96%;
    }

  }
}

.header {
  text-align: center;
  padding: 30px 0 0 0;
  position: relative;

  @include breakpoint(lizard) {
    padding: 30px 0 0 0;
  }

  .home & {
    padding: 130px 0 0 0;
  }

  &:before {
    @include opacity(.4);
    content: '';
    background: url(../i/logo_brown.png) no-repeat 0 0 transparent;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 15px;
    left: 0;

    .home & {
      @include opacity(1);
    }

    @include breakpoint(hyena) {
      top: 5px; 
    }

    @include breakpoint(lizard) {
      top: 0;
      left: 50%;
      margin-left: -60px;
    }

    .home & {
      top: 0;
      left: 50%;
      margin-left: -60px;
    }
  }

  h1 {
    font-size: 70px;
    font-weight:900;
    margin: 0;
    line-height:.87;
    color: $heading;
    text-transform:lowercase;
    text-shadow: 0 1px 0 #fff;
    letter-spacing:-3px;

    @include breakpoint(zebra) {
      font-size: 60px;
    }
    @include breakpoint(meerkat) {
      font-size: 50px;
      line-height:.6;
      small {
        line-height:1;
        margin-bottom:-11px;
        font-weight:300;
      }
    }
    @include breakpoint(snail) {
      font-size: 44px;
      //padding-top: 0px;
    }

    a {
      text-decoration: none;
      color: darken( $heading, 10% );

      &:hover {
        color: $headingHover;
      }
    }
    small {
      margin: 0 1px;
    }
    
  }

  h2 {
    text-transform:uppercase;
    margin: 6px 0 10px;
    color: hsl(190, 33%, 13%);
    text-shadow: 0 1px 0 white;
    @include facit();

    @include breakpoint(zebra) {
      font-size: 30px;
    }
    @include breakpoint(hyena) {
      font-size: 28px;
    }
    @include breakpoint(meerkat) {
      font-size:22px;
      letter-spacing:0;
      //text-align:center;
      //margin-top:20px;
    }
  }
}

#content_toggle {
  @include transition(all .3s ease);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 501;
  width: 75%;
  max-width: 1350px;
  margin: 0 auto;

  .home & {
    position: absolute;
    width: 100%;
  }

  .content_toggle & {
    position: static;
  }

  a {
    position: absolute;
    right: 0;
    text-decoration:none;
    font-family: "jaf-facitweb",sans-serif;
    font-size: 18px;
    width: 40px;
    height:40px;
    line-height:40px;
    text-align:center;
    text-indent:0;
    z-index: 501;

    .admin-bar & {
      top: 28px;
    }

    .home.admin-bar & {
      top: 0;
    }

    &:before {
      content: 'x';
    }

    &.active:before {
      content: '+';
    }


    &:hover {
      background: lighten( $heading, 20% );
      color: #fff;
    }
    
    .home.admin-bar .content_toggle &,
    .content_toggle & {
      top: 5px;
      right: 5px;
    }
    
  }

  @include breakpoint(meerkat) {
    display: none;
  }

}


.footer {
  display:none;
  padding: 10px 5%;
  background: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0 0 3px rgba(black, 0.35);
  box-shadow: 0 0 3px rgba(black, 0.35);

  p {
    margin: 0;
  }
}

#credit {
  background: transparent;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}




.main-content {
  @extend .cf;
  margin: $baselineheight 0;

  img {
    max-width: 100%;
    height: auto;
    width: 100%;

    &.alignleft {
      width: auto;
    }
  }
}

