li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
	margin: 0 0 $baselineheight;
}
h2 {
	font-size: 22px;
	margin: $baselineheight 0;
	font-family: "jaf-facitweb",sans-serif;
	font-weight: 200;
	color: $c5;
}
h3 {
  font-size: 18px;
  margin: $baselineheight 0 5px;
  font-family: "jaf-facitweb",sans-serif;
  font-weight: 200;
}
h4 {
	font-size: 16px;
	margin: 0 0 5px;
	font-family: "jaf-facitweb",sans-serif;
	font-weight: 200;
}
h5 {
	font-size: 14px;
	margin: 0 0 5px;
	font-weight: 400;
	font-family: "jaf-facitweb",sans-serif;
}

a {
	text-decoration: none;
}

p, address {
	margin: 0 0 $baselineheight;
}

.button,
.btn {
	@include transition(all .2s ease);
	@include background(linear-gradient(rgba(0,0,0,0.17), rgba(0,0,0,0.35)));
	background-color: lighten( rgb(85, 156, 170), 20% );
	padding: 4px 9px;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid darken( $heading, 20% );

	&:hover {
		background-color: darken( rgb(85, 156, 170), 20% ); //rgb(97, 158, 152);
	}
}

ul.hearts {

  > li {
    list-style: none;
    position: relative;
    padding-left: 16px;
    margin-bottom:5px;

    &:before {
      content: '\2764';
      color: $heading;
      font-size: 12px;
      position: absolute;
      top: 4px;
      left: 0;
      text-shadow:1px 1px 0 white;
    }
  }
}


.entry {
	p:first-child {
		font-size: 110%;
	}
}


[class*='ico-'] {
	font-family: sans-serif;
	position: relative;
}

.ico-ferry:before {
	content: '\26f4';
}